.message{
    font-family: Arial, sans-serif !important;
}

.messages-container {
    width: 20vw;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    flex-direction: column;
}
.messages{
    height: 80vh;
}
.send-message{
   gap: 10px;
}

.send{
    padding: 10px;
    border-radius: 50px;
    border: none;
}