.input-field{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    padding:10px;
    max-width: 400px;
    border: none;
    outline: none;
    width: 400px;
}
.input-field-label{
    padding-left: 10px;
}
.error{
    color: red;
    margin-left: 14px;
    font-size: 10px;
}

/* .input-container{
    width:50%;
    margin: 0 10px;
} */
