.input-field{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    padding:10px;
    width: 400px;
    border: none;
    outline: none;
}
.input-field-label{
    padding-left: 10px;
}
.error{
    color: red;
    margin-left: 14px;
    font-size: 10px;
}

