 .card-icon{
    width: 30%;
    height: 25%;
}
.card-title{
    font-size: 15px;
    font-weight: bold;
}
.card-description{
    font-size: 13px;
    max-width: 90%;
    word-wrap: break-word;
    text-align: center;
}

.card{
    width: 20vw;
    min-width: 200px;
    min-height:25vw;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.clickable{
    cursor: pointer;
}