.logo{
    width: 55px;
    height: 60px;
}

.nav{
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #333;
}

.gap{
    gap: 50px;
}

.nav > div > p {
    font-size: 22px;
    cursor: pointer;
    color: #dcd0c3;
}