*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body,#root{
    width: 100%;
    height: 100%;
}
body{
    font-family: 'Kavoon' !important;
}
::placeholder {
    font-family: 'Kavoon', monospace;
  }
.flex{
    display: flex;
}
.column{
    flex-direction: column;
}

.box-shadow{
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
}

.main-color{
    background-color: #dcd0c3;
}

.secondary-color{
    background-color: #333333;
}

.white-font{
    /* color: #ffffff; */
    color: #dcd0c3;
}

.black-font{
    color:#333333;
}
.main-padding{
    padding: 10px 70px;
}

.main-color-border{
    border-top: 2px solid #dcd0c3 ;
    border-bottom: 2px solid #dcd0c3 ;

}
.secondary-color-border{
    border-top: 2px solid #333333;
    border-bottom: 2px solid #333333 ;
}

button{
    font: inherit;
}