.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup{
    width: 30%;
    height: auto;
    padding: 60px;
    position: relative;
    gap:10px;
}

.close-btn{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 5px;
    left: 10px;
    cursor: pointer;
}
.or{
    align-self: center;
}
.popup-btn{
    padding: 10px 0;
    border-radius: 50px;
    cursor: pointer;
}