.inquiry-form-container{
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
    gap: 20px;
}
.inquiry-form{
    padding: 40px;
    border-radius: 25px;
    width: 80%;
    gap: 20px;
}
.contact-us-title{
    font-size: 22px;
    font-weight: bold;
}
.form-row{
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.text-area-field{
    gap:5px;
}

.text-area-label{
    padding-left: 10px ;
}
.text-area{
    padding: 10px;
    border: none;
    resize: none;
    outline: none;
}

.submit-btn{
    height: 40px;
    width: 80px;
    border-radius: 50px;
    align-self: flex-end;
    cursor: pointer;
    border: none;
}

.status{
    align-self: center;
    font-size: 15px;
}

.success {
    color: green;
}

.failed {
    color :rgb(242, 69, 69);
}